.carousel{
	height: 100vh;
	width: 100vw;
	background: url('../../assets/img/_12A9319_sm.jpg');
	opacity: 1;

	@mixin atMedium{
		background: url('../../assets/img/_12A9319_md.jpg');
	}

	@mixin atLarge{
		background: url('../../assets/img/_12A9319.jpg');
	}
}

.carousel-inner{
	height: 100%;
	min-width: 100vw;
	overflow-x: hidden;
}

.carousel img {
  width: 100%;
}

.slide1{
	background: url('../../assets/img/_12A9319_sm.jpg');

	@mixin atSmall{
		background: url('../../assets/img/_12A9319_ms.jpg');
	}

	@mixin atMedium{
		background: url('../../assets/img/_12A9319_md.jpg');
	}

	@mixin atLarge{
		background: url('../../assets/img/_12A9319.jpg');
	}
}

.slide2{
	background: url('../../assets/img/_12A9364_sm.jpg');

	@mixin atSmall{
		background: url('../../assets/img/_12A9364_ms.jpg');
	}

	@mixin atMedium{
		background: url('../../assets/img/_12A9364_md.jpg');
	}

	@mixin atLarge{
		background: url('../../assets/img/_12A9364.jpg');
	}
}

.slide3{
	background: url('../../assets/img/_12A9369_sm.jpg');

	@mixin atSmall{
		background: url('../../assets/img/_12A9369_ms.jpg');
	}

	@mixin atMedium{
		background: url('../../assets/img/_12A9369_md.jpg');
	}

	@mixin atLarge{
		background: url('../../assets/img/_12A9369.jpg');
	}
}

.slide4{
	background: url('../../assets/img/_12A9470_sm.jpg');

	@mixin atSmall{
		background: url('../../assets/img/_12A9470_ms.jpg');
	}

	@mixin atMedium{
		background: url('../../assets/img/_12A9470_md.jpg');
	}

	@mixin atLarge{
		background: url('../../assets/img/_12A9470.jpg');
	}
}

.slide5{
	background: url('../../assets/img/_12A9484_sm.jpg');

	@mixin atSmall{
		background: url('../../assets/img/_12A9484_ms.jpg');
	}

	@mixin atMedium{
		background: url('../../assets/img/_12A9484_md.jpg');
	}

	@mixin atLarge{
		background: url('../../assets/img/_12A9484.jpg');
	}
}

.slide6{
	background: url('../../assets/img/_12A9728_sm.jpg');

	@mixin atSmall{
		background: url('../../assets/img/_12A9728_ms.jpg');
	}

	@mixin atMedium{
		background: url('../../assets/img/_12A9728_md.jpg');
	}

	@mixin atLarge{
		background: url('../../assets/img/_12A9728.jpg');
	}
}



.dumbo{
  opacity: 1;
  transition: opacity 3s ease-in !important;
}

.item{	
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.carousel-control{
	background: transparent;
	width: 100px;
	text-align: center;
}

.carousel-control .icon-prev, .carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left, .carousel-control 
.glyphicon-chevron-right, .glyphicon-circle-arrow-left, 
.carousel-control .glyphicon-circle-arrow-left, 
.carousel-control .glyphicon-circle-arrow-right,
.fa.fa-chevron-left, .fa.fa-chevron-right {
    display: inline-block;
    position: absolute;
    top: 41%;
    z-index: 5;
}

.fa.fa-chevron-left,
.fa.fa-chevron-right{
	font-size: 2em;
}

.glyphicon.glyphicon-chevron-right,
.fa.fa-chevron-right{
	left: 20px;
}