.carousel{
	height: 100vh;
	width: 100vw;
	background: url('../../assets/img/_12A9319.jpg');
	opacity: 0.1;
}

.carousel-inner{
	height: 100%;
	min-width: 100vw;
	overflow-x: hidden;
}

.carousel img {
  width: 100%;
}

@media(min-width: 768px){
	.slide1{
	background: url('../../assets/img/_12A9319.jpg');
	}

	.slide2{
		background: url('../../assets/img/_12A9364.jpg');
		opacity: 1;
	}

	.slide3{
		background: url('../../assets/img/_12A9369.jpg');
	}

	.slide4{
		background: url('../../assets/img/_12A9470.jpg');
	}

	.slide5{
		background: url('../../assets/img/_12A9484.jpg');
	}

	.slide6{
		background: url('../../assets/img/_12A9728.jpg');
	}
}

@media(max-width: 767px){
	.slide1{
	background: url('../../assets/img/_12A9319_md.jpg');
	opacity: 0;
	}

	.slide2{
		background: url('../../assets/img/_12A9364_md.jpg');
	}

	.slide3{
		background: url('../../assets/img/_12A9369_md.jpg');
	}

	.slide4{
		background: url('../../assets/img/_12A9470_md.jpg');
	}

	.slide5{
		background: url('../../assets/img/_12A9484_md.jpg');
	}

	.slide6{
		background: url('../../assets/img/_12A9728_md.jpg');
	}
}

.dumbo{
  opacity: 1;
  transition: opacity 0.25s ease-in !important;
}

.item{	
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.carousel-control{
	background: transparent;
	width: 100px;
	text-align: center;
}

.carousel-control .icon-prev, .carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left, .carousel-control 
.glyphicon-chevron-right, .glyphicon-circle-arrow-left, 
.carousel-control .glyphicon-circle-arrow-left, 
.carousel-control .glyphicon-circle-arrow-right,
.fa.fa-chevron-left, .fa.fa-chevron-right {
    display: inline-block;
    position: absolute;
    top: 41%;
    z-index: 5;
}

.fa.fa-chevron-left,
.fa.fa-chevron-right{
	font-size: 2em;
}

.glyphicon.glyphicon-chevron-right,
.fa.fa-chevron-right{
	left: 20px;
}