.not-found{
	text-align: center;
	width: 100%;
	height: 90vh;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}

.mid{
	display: table-cell;
	vertical-align: middle;
}

.back-home{
	position: relative;
	top: 30px;
	font-size: 1.6em;
}

.demobiz{
	width: 50%;
	height: 200px;
	background: blue;
	margin: 0 auto;

	@mixin atMedium{
		background: green;
	}

	@mixin atLarge{
		background: red;
	}

}